<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Blogger</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <%- include ('../partial/style') %>
</head>
<body>

<%- include ('../partial/navBar') %>

<!-- Start travel Area -->
<section class="travel-area section-gap" id="travel">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Hot topics from Travel Section</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <% for (let i = 0; i < listScenery.length;i++){ %>
                <div class="col-lg-6">
                    <div class="single-travel media pb-70">
                        <img class="img-fluid d-flex  mr-3" src="<%= listScenery[i].image %>" alt=""
                             style="width: 195px;height: 195px">
                        <div class="media-body align-self-center">
                            <h4 class="mt-0"><%= listScenery[i].name %></h4>
                            <p><%= listScenery[i].description %></p>
                            <div class="meta-bottom d-flex justify-content-between">
                                <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                                <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                            </div>
                            <div class="meta-bottom d-flex justify-content-between">
                                <button type="button"
                                        style="border: none; color:#222; background-color:#f9f9ff; padding: 0px 16px"
                                        data-toggle="modal" data-target="#modal-<%= listScenery[i].id %>">
                                    Delete
                                </button>
                                <div class="modal fade" id="modal-<%= listScenery[i].id %>" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Do you want to delete?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <center>
                                                    <form method="get" action="/delete/<%= listScenery[i].id %>">
                                                        <button type="submit"
                                                                style="border: none; background-color: #00CCCC; color: white; padding: 0px 10px">
                                                            Delete
                                                        </button>
                                                    </form>
                                                    <hr>
                                                    <a href="/scenery">
                                                        <button style="border: none; background-color: #00CCCC; color: white; padding: 0px 22px">
                                                            Exit
                                                        </button>
                                                    </a>
                                                </center>
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/edit/<%=listScenery[i].id%>"><span style="margin-left: -110px">Edit</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</section>
<!-- End travel Area -->

<!-- Start team Area -->
<%- include ('../partial/about-team') %>
<!-- End team Area -->

<!-- start footer.ejs Area -->
<%- include ('../partial/footer') %>
<!-- End footer.ejs Area -->

<!-- script-->
<%- include ('../partial/script') %>
</body>
</html>